[Unit]
Description=MCZ Musa Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/musa
Restart=on-failure

[Install]
WantedBy=default.target
